* {
    box-sizing: border-box;
}

h1 {
    display: grid;
    justify-content: center;
    font-size: 3rem;
    text-align: center;
    padding: 10px;
    margin: 20px;
}

button {
    font-size: 1.5rem;
    font-weight: bolder;
}

.hide {
    display: none;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    border: 2px solid black;
    border-radius: 5px;
}

.square:hover {
    background-color: silver;
    cursor: pointer;
}

#player-names {
    display: grid;
}

#game-board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 35rem;
    width: 35rem;
    margin: 0 auto;
    gap: 0.5rem;
}